<h1>How to play</h1>
<p>Congratulations, you have a date!</p>
<p>However, love does not come cheap.</p>
<p>To impress your date, you will have to wine, dine and shower them in gifts.</p>
<p>Fill up all the hearts and your heart's desire will be yours.</p>
<button class='Start-Play' >Play the Game</button>
