<h1>How to play</h1>
<p>Congratulations you have a date!
However, love does not come cheap.
To impress your date you will have to wine dine and shower them in gifts.
Fill up all the hearts and your hearts desire will be yours. </p>
<button class='Start-Play' >Play the Game</button>
