<h1>Game</h1>
<p id='gameStatus'></p>
Health: <p id="gameHealth">10</p>
Wealth: <p id="gameWealth">10</p>
<button id="gift_button">gift</button>
<button id="date_button">date</button>
<button id="work_button">work</button>
<button id="gamble_button">gamble</button>

<p id="test"> </p>
