<h1>Love Me Tinder</h1>
<p> Welcome </p>

<p>Love Me Tinder is the only game you should play in a relationship.</p>
<p>Create your character, choose a match and try to grow that spark of love into an out-of-control wild fire.</p>

<div class="col" style="padding-top:10px">
  <a class="btn btn-primary" href="/player/new" role="button">Get Started</a>
</div>
