<p>Welcome <%= @player.name %></p>

<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Character">
  <div class="card-body">
    <p class="card-text"> <%= @player.name %>, <%= @player.age %> </p>
  </div>
</div>
