
<div class="col">
  <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="<%= Match.find(1).profile_pic %>" alt="Character">
    <div class="card-body">
      <strong><p class="card-text"> <%= Match.find(1).name %>, <%= Match.find(1).age %></p></strong>
    </div>
  </div>
</div>
