// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game-box {
  border: 1px #E1E1E1 solid;
  border-radius: 5px;
}
.icon-container {
  display: inline-block;
}
.icon {
  width: 50px;
  margin-left: 1.2em;
}

.bar {
  background-color: red;
  width: 30vw;
}
