// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
  font-weight: 600;
}
#profile-pic {
  width: 25vw;
  box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.36);
}
#heart {
  opacity: 0;
  width: 3vw;
  position: absolute;
  margin-left: -32%;
  margin-top: 28%
}
#heart:hover {
  opacity: 100;
}

.health-panel h3 {
  display: inline-block;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 10px;
}

.date-panel {
  text-align: center;
  margin-top: 20px;
  padding: 15px 10px;
}

.control-panel {
  text-align: center;
}

#heart-bar {
  display: inline-block;
  background-color: red;
}

#wealth-bar {
  display: inline-block;
  background-color: yellow;
  width: 90%;
}

.bar {
  width: 30vw;
}

.control-panel {
  margin: 1.2em;
}

.icon-container {
  display: inline-block;
}
.icon-container p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
}
.icon {
  width: 4.5vw;
  margin: 0.8em;
}

.icon:hover {
  -webkit-filter: drop-shadow(1px 1px 8px rgba(250,30,120,50));
}
