<!DOCTYPE html>
<html>
  <head>
    <title>LoveMeTinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="d-flex justify-content-center swipe-container">
        <div class="swipe-box">
          <img class="img-fluid" src="http://1.bp.blogspot.com/-GmFI9grut4Q/UF6Un_nTaBI/AAAAAAAAQ_k/QP_Pyf6apRc/s1600/Gentoo+Penguin5.jpg" alt="Penguins">
        </div>
      </div>
    <%= yield %>
  </body>
</html>
